@font-face{
    font-family: NotoSansJP;
    src: url(../fonts/NotoSansJP-VariableFont_wght.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');



ul li {
    color: red;
    background-color:blue;
    
}


ol{
    background-color: darkgreen;
}

h2 {
    background-color: aquamarine;
}


p { 
    color: rgb(44, 44, 173);
}

h2 {
    color: rebeccapurple;
    font-family: NotoSansJP-Thin;
}

.parrafo {
    color:rgba(39, 18, 131, 0.751);
    width: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: x-large;
}

.texto {
    color: rgb(26, 120, 81);
    font-family: NotoSansJP;
}

.noticia {
    color: red;
}

#titulo {
    color: chocolate;
}

.x {
    color: darkcyan;
}

.ingredientes{
    background-color: darkgoldenrod;
}
/* Cajas */

#cajas {
    margin-bottom: 100px;
}
.box {
    width: 50px;
    height: 50px;
    background-color: rgb(red, green, blue);
    background-color: #f7a9ff;
    margin: 5px 10px 4px 7px;
    border: solid 1px #000;
    padding: 25px 0 0 25px;
}

/* Ejercicio Cajas */

#EC {
    padding-bottom: 200px;
}
.boxes {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: solid 2px #ffff00;
    margin: 10px 10px 10px 300px;
    padding: 25px 0 0 25px;
    border-radius: 15px;
}
.boxx {
    width: 100px;
    height: 100px;
    background-color: red;
    border: solid 2px #ffff00;
    margin: 10px 10px 10px 300px;
    padding: 25px 0 0 25px;
    border-radius: 15px;
    
}

